.hogan-module-dss_downloads {
	.hogan-module-inner {
		ul {
			list-style: none;
			margin-left: 0;

			li {
				padding-bottom: 24px;

				p {
					margin-bottom: 0;
				}
			}

			&.icon_preview {
				li {
					padding-left: 30px;
					position: relative;

					&::before {
						background: transparent url(images/download-icon.svg) no-repeat center center;
						content: "";
						height: 18px;
						left: 0;
						position: absolute;
						top: 2px;
						width: 22px;
					}

					html[dir="rtl"] & {
						padding-left: 0;
						padding-right: 30px;

						&::before {
							left: auto;
							right: 0;
						}
					}
				}
			}

			&.image_preview {
				li {
					> div {
						display: flex;

						> a {
							display: block;
							min-width: 40px;
							padding-right: 18px;
							width: 40px;

							html[dir="rtl"] & {
								padding-left: 18px;
								padding-right: 0;
							}
						}
					}
				}
			}

			.file-info {
				color: #757575;
				font-size: 12px;
				line-height: 18px;
			}

			@media ( min-width: 600px ) {
				display: flex;
				flex-wrap: wrap;

				&.icon_preview {
					li {
						padding-right: 30px;

						html[dir="rtl"] & {
							padding-left: 30px;
						}
					}
				}

				&.image_preview {
					margin-left: -30px;

					li {
						> div {
							> a {
								min-width: 80px;
								width: 80px;
							}
						}

						html[dir="rtl"] & {
							padding-left: 30px;
						}
					}
				}

				li {
					flex: 1 0 50%;
					padding: 0 0 30px 30px;
				}
			}
		}
	}
}
